<h2 class="title">Log In</h2>

<div class="login-panel active">
    <section id="loginForm">
        <div class="login-box">
            <form class="login-form" method="post" action="/login" accept-charset="UTF-8">
                <fieldset>
                    <label>Email:</label>
                    <input type="email">
                    <br />
                    <label>Password:</label>
                    <input type="password">
                    <br />
                </fieldset>
                
                <input type="submit" id="log-in" value="Log In">
                
                <p class="signup-button">
                    <a href="register">Sign Up for Account</a>
                </p>
            </form>
        </div>
    </section>
</div>