<h2 class="title">Sign Up For Account</h2>

<div class="signup-panel active">
    <section id="signupForm">
        <div class="signup-box">
            <form class="signup-form" method="post" action="/register" accept-charset="UTF-8">
                <fieldset>
                    <label>First Name:</label>
                    <input type="text" name="firstName">
                    <br />
                    <label>Last Name:</label>
                    <input type="text" name="lastName">
                    <br />
                    <label>Email:</label>
                    <input type="email" name="email">
                    <br />
                    <label>Password:</label>
                    <input type="password" name="password">
                    <br />
                    <label>Confirm Password:</label>
                    <input type="password" name="confirmPassword">
                    <br />
                </fieldset>
                
                <input type="submit" id="sign-up" value="Sign Up">
                
                <p class="login-button">
                    <a href="/login">Already have an account? Log In</a>
                </p>
            </form>
        </div>
    </section>
</div>