<div class="page-header">
    <center><h3>Schedule for the week of: 6/24-6/30</h3></center> <!--I was thinking maybe we can somehow make this dynamic?-->
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Person</th>
            <th scope="col">Chore</th>
            <th scope="col">Mark as done</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>Vacuum</td>
            <td> <button type="submit" class="btn btn-warning btn-xs">Done</button></td>
        </tr>
        <tr>
            <td>Laura</td>
            <td>Dishes</td>
            <td> <button type="submit" class="btn btn-warning btn-xs">Done</button></td>
        </tr>
        <tr>
            <td>Ryan</td>
            <td>Counters</td>
            <td> <button type="submit" class="btn btn-warning btn-xs">Done</button></td>
        </tr>
    </tbody>
</table>