input[type="text"] {
    width: 95%;
}

#navbar {
    border: 2px solid black;
    height: 40px;  
    width: 100%;
    text-align: center;
    background-color: dodgerblue;
}

#navbar li {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2em;
    padding-right: 10px;
    font-weight: bold;
    text-shadow: -1px -1px 0 black,
                -1px -1px 0 black,
                -1px -1px 0 black,
                -1px -1px 0 black;
}

#navbar a {
    text-decoration: none;
    color: yellow;
}

.title {
    padding-left: 3%;
}

.login-panel,
.signup-panel {
    background-color: #E5E5E5;
    color: #666;
    min-height: 150px;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
}

.login-box,
.signup-box,
.addChore-box {
    width: 100%;
    padding-top: 25px;
    margin: 0 auto;
    text-align: center;
}

.login-box label,
.signup-box label,
.addChore-box label {
    width: 30%;
    text-align: right;
    padding-right: 5px;
}

.addChore-box label {
    width: auto;
    text-align: left;
}

.login-box input,
.signup-box input,
.addChore-form input {
    width: 50%;
    display: inline-block;
    border-radius: 5px;
}

.addChore-form input {
    width: 70%;
}

.login-form,
.signup-form,
.addChore-form {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.addChore-form {
    text-align: left;
}

.submit-button,
.generate-button {
    text-align: center;
    margin-top: 25px;
}

input#log-in,
input#sign-up,
input#addChore {
    border: none;
    height: 40px;
    margin: 5px 10px;
    text-transform: uppercase;
}

input#addChore {
    width: 30%;
}

input[type="submit"]#addChore {
    margin: 0 auto;
    
}

input#log-in,
input#sign-up {
    color: #EEE;
    background-color: #303030;
}

h3 {
    padding: 15px 25px 0px 25px;
}

.addChore-form {
    border: 2px solid black;
    padding: 25px;
}

.form-group {
    padding-left: 0%;
    width: 70%;
    margin: 0 auto;
}

.jumbotron {
    margin: 0 auto;
}

.jumbotron p {
    font-size: 4em;
    min-height: 100px;
    text-align: center;
    align-content: center;
}

.jumbotron div {
    margin: auto;
}

.jumbotron button {
    text-transform: uppercase;
}